[Interface]
PrivateKey = {{ adapter.private_key }}
ListenPort = {{ adapter.listen_port | default(0) }}
FwMark = {{ adapter.fw_mark | default(0) }}
{% if adapter.address | default([]) | length > 0 %}
{% for i in adapter.address %}
Address = {{ i }}
{% endfor %}
{% endif %}
{% if adapter.dns | default([]) | length > 0 %}
{% for i in dns.address %}
DNS = {{ i }}
{% endfor %}
{% endif %}
{% if adapter.mtu | default(0) != 0 %}
MTU = {{ adapter.mtu }}
{% endif %}
Table = {{ adapter.table | default('auto') }}
{% if adapter.pre_up | default([]) | length > 0 %}
{% for i in adapter.pre_up %}
PreUp = {{ i }}
{% endfor %}
{% endif %}
{% if adapter.post_up | default([]) | length > 0 %}
{% for i in adapter.post_up %}
PostUp = {{ i }}
{% endfor %}
{% endif %}
{% if adapter.pre_down | default([]) | length > 0 %}
{% for i in adapter.pre_down %}
PreDown = {{ i }}
{% endfor %}
{% endif %}
{% if adapter.post_down | default([]) | length > 0 %}
{% for i in adapter.post_down %}
PostDown = {{ i }}
{% endfor %}
{% endif %}
SaveConfig = {{ adapter.save_config | default(false) | string | capitalize }}

{% if adapter.peers | default([]) | length > 0%}
{# peers are required to have at least a public key #}
{% for peer in adapter.peers %}
[Peer]
PublicKey = {{ peer.public_key }}
{% if peer.preshared_key | default('') | length > 0 %}
PresharedKey = {{ peer.preshared_key }}
{% endif %}
{% if peer.allowed_ips | default([]) | length > 0 %}
{% for cidr in peer.allowed_ips %}
AllowedIPs = {{ cidr }}
{% endfor %}
{% endif %}
{% if peer.endpoint | default({}) | length > 0 %}
Endpoint = {{ peer.endpoint.host }}:{{ peer.endpoint.port }}
{% endif %}
{% if peer.persistent_keepalive | default(0) > 0 %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}
{% endfor %}
{% endif %}